/* Write your CSS here */
.cont {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner-cont {
  text-align: center;
  font-family: 'Roboto';
  padding: 60px;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
}
.inner-dark-cont {
  background-color: #000000;
  color: #ffffff;
}
.inner-light-cont {
  background-color: #ffffff;
  color: #000000;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
}
.head {
  font-size: 40px;
  font-weight: bold;
}
.btn {
  font-size: 15px;
  color: #000000;
  background-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  border-color: #000000;
}
